{% extends "layout.html" %}
{% block content %}
    <div class="content-section py-3 px-4 mb-4">
        <h2 class="mb-4">Login</h2>
        <form id="loginForm">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       name="password"
                       required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="mt-3">
            <p class="mb-2">
                <a href="{{ url_for("forgot_password_page") }}">Forgot your password?</a>
            </p>
            <p class="mb-0">
                Don't have an account? <a href="{{ url_for("register_page") }}">Register here</a>
            </p>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="module" src="/static/js/login.js"></script>
{% endblock scripts %}